<app-navbar></app-navbar>
<br>
<br>
<div class ="about">
<br>
<br>
<h1>About</h1>
<br>
<p>Randy Beebe is a funny guy who is doing his best impersonation of a Software Developer. He is a father of two and married for 10 years in July. He was born in Georgia on an army base but has spent 99 percent of his life in Texas. He loves a good joke and will do his best to bring humor wherever he goes.</p>
<br>
<h1> Software Languages</h1>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Typescript</li>
    <li>Angular</li>
</ul>
</div>