<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<app-navbar></app-navbar>
<h1>Randy Beebe</h1>
<img src ="https://media-exp1.licdn.com/dms/image/C5603AQEi_FxQ8UmeRg/profile-displayphoto-shrink_400_400/0/1555448343836?e=1656547200&v=beta&t=PTq3mFZhvbfRqUyEzhc-ujpDQqfPszd1t5qBf2pszSY" alt ="Headshot" class ="pic"/>
<body>
    <h3 class ="joke">My wife told me to stop impersonating a flamingo. I had to put my foot down.</h3> 
</body>
</html>

